// this file contains utility classes and responsive design

// navbar text color 
.navbar-white {
    -webkit-text-fill-color: #fff;
}

.fixed-top {
    z-index: 1024 !important;
}

// border top
.bt {
    border-top: 4px solid var(--primary)
}
// border bottom
.bb {
    border-bottom: 2px solid var(--primary);            
}

// make some space between elements
.spacer > * + * {
    margin-top: 1rem;
}

// scroll bar 
::-webkit-scrollbar {
    width: .4rem;    
}

::-webkit-scrollbar-thumb {        
    background: $primary;
}

::-webkit-scrollbar-track-piece {
    width: 1rem;
    color: white;
    background: white;
}

::-webkit-resizer {
    color: $primary;
    background: $primary;
}

footer {
    position: relative;
    z-index: 1 !important;
}

@media screen and (max-width: 768px) {
    .card-img, .card-img-top {
        height: 40vh !important;
    }

    .categories {
        height: 40vh !important;
        overflow: scroll;
    }
}

@media screen and (max-height: 500px) {
    .showcase img {
        display: none;
    }
}