// Body
$body-bg: #222;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// enable background gradient
$enable-gradients: true;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #7873f5;
$pink: #ff6ec4;
$red: #f23849;
$orange: #f6993f;
$yellow: #FCBD56;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #ececec;
$black: #222;
$secondary: #272a31;
// change the primary color
$primary: $red;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "gray": $gray,
  "primary": $primary,
  "black": $black,
  "secondary": $secondary
);

// text color
@each $color, $value in $colors {
    .text-#{$color} {
      color: ($value);
    }
}
// background color
@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: ($value) !important;
  }
}
